
<div class="simple-form">

    <div class="form-group">
        <label class="@_warningStyle" for="movie-name">Ale you sure to delete '@Name'?</label>
        @if (FullInfo)
        {
        <label for="movie-name">and all children item?</label>
        }
    </div>

    <button  @onclick="@OK" class="btn btn-primary">Ok</button>
    <button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; }
    
    [Parameter]
    public string Name { get; set; }
    [Parameter]
    public bool FullInfo { get; set; }
    [Parameter]
    public bool Warning { get; set; }

    string _warningStyle
    {
        get
        {
            if (Warning)
            {
                return "list-group-item border-danger";
            }
            else
            {
                return "";
            }

        }
    }


    void OK()
    {

        BlazoredModalInstance.Close(ModalResult.Ok<bool>(true));
    }

    void Cancel()
    {
        BlazoredModalInstance.Cancel();
    }

}