
<div class="simple-form">

    <div class="form-control form-group @_warningStyle mb-5">
        <label class="ite" for="movie-name">@Line1</label>

        @if (!string.IsNullOrEmpty(Line2))
        {
        <label  for="movie-name">@Line2</label>
        }
    </div>

    <button @onclick="@OK" class="btn btn-primary"> <span class="ml-2 mr-2"> OK </span></button>
    <button @onclick="@Cancel" class="btn btn-secondary">Cancel</button>
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; }

    [Parameter]
    public string Line1 { get; set; }
    [Parameter]
    public string Line2 { get; set; }
    [Parameter]
    public bool Warning { get; set; }



    string _warningStyle
    {
        get
        {

            if (Warning)
            {
                return "border-danger";
            }
            else
            {
                return "";
            }

        }
    }


    void OK()
    {

        BlazoredModalInstance.Close(ModalResult.Ok<bool>(true));
    }

    void Cancel()
    {
        BlazoredModalInstance.Cancel();
    }

}