<div class="simple-form">

    <div class="form-group">
        <label for="movie-name">@Info</label>
       
    </div>

    <button @onclick="@OK" class="btn btn-primary">Submit</button>
   
</div>

@code {

    [CascadingParameter] BlazoredModalInstance BlazoredModalInstance { get; set; }

    [Parameter]
    public string Info { get; set; }
       

    void OK()
    {

        BlazoredModalInstance.Close();
    }

}