@using Microsoft.Extensions.Configuration;

@inherits LayoutComponentBase
@inject IConfiguration configuration
@using Blazored.Toast.Configuration

<BlazoredModal />
<BlazoredToasts Position="ToastPosition.BottomRight"
                Timeout="3"
                IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="fa fa-thumbs-up"
                ErrorIcon="fa fa-bug" />


<AuthorizeView>
    <Authorized>

        <BlazorClient.Pages.SignalR>
            <div class="sidebar">
                <NavMenu />
            </div>

            <div class="main">
                <div class="top-row px-4">
                    <LoginDisplay />

                    <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
                </div>

                <div class="content px-4">
                    @Body
                </div>
            </div>
        </BlazorClient.Pages.SignalR>

    </Authorized>
    <NotAuthorized>
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <div class="top-row px-4">
                <LoginDisplay />

                <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
            </div>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>



@*<BlazorClient.Pages.SignalR>
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <LoginDisplay />

            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
    </BlazorClient.Pages.SignalR>*@
@code{
    //protected override async Task OnInitializedAsync()
    //{


    //    await Data.SignalRHelper.SignalRInitAsync(configuration);

    //}
}